#page {
  //background-color: $color__background-body;
  margin-left: 5em;
  margin-right: 5em;
  //margin-top: 0;
  //margin-bottom: 0;
 // margin-left: auto;
 // margin-right: auto;
  //width: $max-width;
}

.site-header {
  @include outer-container(100);
  .site-branding {
    background-color: #fafff4;
    @include span-columns(12);
  }
  .navigation {
    @include span-columns(12);
  }
}


@include media($large-screen) {
  // Set direction (right-to-left -> left sidebar)
  @include direction-context(left-to-right) {
    .site-content {
      @include outer-container(100);
      background-color: #fafff4;
      //margin: 1px;
      .content-area {
        @include span-columns(8);
        padding: 1em;
        background-color: #efffcb;
      }
      .widget-area {
        @include span-columns(4);
       // background-color: #fae004;
        padding: 1em;
      }
    }
  }
}
.site-footer {
  @include outer-container(100);
  //background-color: gainsboro;
  margin: 1px;
  .site-info {
    @include span-columns(12);
    text-align: center;
  }
}