#page {
  //background-color: $color__background-body;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 0;
  margin-bottom: 0;
}

.site-header {
  @include outer-container(12);
  background-color: gainsboro;
  margin: 1px;
  .site-branding {
    background-color: darkgray;
    @include span-columns(12);
  }
  .main-navigation {
    background-color: #102030;
    @include span-columns(12);
  }
}
// Set direction (right-to-left -> left sidebar)
@include direction-context(left-to-right) {
  .site-content {
    @include outer-container(12);
    background-color: #0000ff;
    margin: 1px;
    .content-area {
      @include span-columns(8);
      padding: 1em;
      //background-color: greenyellow;
    }
    .widget-area {
      @include span-columns(4);
      background-color: greenyellow;
      padding: 1em;
    }
  }
}
.site-footer {
  @include outer-container(12);
  background-color: gainsboro;
  margin: 1px;
  .site-info {
    @include span-columns(12);
    text-align: center;
  }
}